In [3]:
#creation of relational database
import sqlite3

conn = sqlite3.connect("student.db")
c = conn.cursor()

try:
    
    c.execute('''CREATE TABLE student (
        student_id text PRIMARY KEY NOT NULL,
        first_name text NOT NULL,
        last_name text NOT NULL,
       FOREIGN KEY (student_id) REFERENCES course(student_id) )''')
except sqlite3.OperationalError as e:
    print('sqlite error:', e.args[0])  # table already exists

conn.commit()

try:
    c.execute('''CREATE TABLE course (
        course_id text PRIMARY KEY NOT NULL,
        course_name text NOT NULL,
        credit_hour int NOT NULL,
        instructor_name test NOT NULL,
       FOREIGN KEY (instructor_name) REFERENCES instructor(instructor_name),
       FOREIGN KEY (course_id) REFERENCES enrollment(course_id))''')
except sqlite3.OperationalError as e:
    print('sqlite error:', e.args[0])  # table already exists

conn.commit()

try:
    c.execute('''CREATE TABLE enrollment (
        student_id text NOT NULL,
        course_id text NOT NULL,
        grade text NOT NULL,
        FOREIGN KEY (student_id) REFERENCES student (student_id),
       fOREIGN KEY (course_id) REFERENCES enrollment(course_id))''')
    
        
except sqlite3.OperationalError as e:
    print('sqlite error:', e.args[0])  # table already exists

conn.commit()

try:
    c.execute('''CREATE TABLE instructor (
        instructor_name text PRIMARY KEY NOT NULL,
        instructor_lastname NOT NULL,
       FOREIGN KEY (instructor_name) REFERENCES course(instructor_name) )''')
except sqlite3.OperationalError as e:
    print('sqlite error:', e.args[0])  # table already exists

conn.commit()

sqlite error: table student already exists
sqlite error: table course already exists
sqlite error: table enrollment already exists
sqlite error: table instructor already exists

In [27]:
def add_newStudent():
    with conn:
        s_id= input("please enter new id number")
        firstName= input("enter first name")
        lastName= input("enter last name")
        #c.execute("INSERT INTO students VALUES('studentId', 'firstName', 'lastName')")
        c.execute("INSERT INTO STUDENT (student_id,first_name, last_name) values (?, ?, ?)",
                (s_id, firstName, lastName))
    
def search_student():
    with conn:
        student_id=input("enter student ID you want to search")
        c.execute("SELECT * FROM student WHERE student_id= ?",(student_id,))
        conn.commit()
        return c.fetchone()
    
def tabletest():
    c.execute("SELECT* FROM student")
    rows=c.fetchall()
    
    for row in rows:
        print(row)
        
def delete_student():
    with conn:
        student_id=input("enter studentID to delete student records")
        c.execute('DELETE FROM student WHERE student_id=?',(student_id,))
        conn.commit()
        
def update_studentinfo():
    with conn:
        student_id= input("enter student id of the student you want to update information on")
        new_value= input("enter new value?")
        #c.execute('''UPDATE student SET first_name = ? WHERE student_id = ?''', (newPrice, book_id))
        c.execute('''UPDATE student SET first_name = ? WHERE student_id = ?''', (new_value, student_id))
        conn.commit()
        
def add_newclass():
    with conn:
        c_id= input("please enter class id number")
        className= input("enter class name")
        credits=input("enter amount of hours for this class")
        instructorName= input("enter instructor name")
        #c.execute("INSERT INTO students VALUES('studentId', 'firstName', 'lastName')")
        c.execute("INSERT INTO course (course_id,course_name, credit_hour, instructor_name) values (?, ?, ?,?)",
                (c_id, className, credits, instructorName))
        
def tabletestClass():
    c.execute("SELECT* FROM course")
    rows=c.fetchall()
    
    for row in rows:
        print(row)
        
def add_instructor():
    with conn:
        fname= input("please enter instructor name")
        lname= input("instructor last name")
        #c.execute("INSERT INTO students VALUES('studentId', 'firstName', 'lastName')")
        c.execute("INSERT INTO instructor (instructor_name, instructor_lastname) values (?, ?)",
                (fname,lname))
        

def tabletestI():
    c.execute("SELECT* FROM instructor")
    rows=c.fetchall()
    
    for row in rows:
        print(row)
        
def add_grades():
    
    with conn:
        s_id= input("enter student id u want ot add grade for")
        c_id =input("insert course number for the grade")
        g=input("insert grade letter")
        if g == 'a' or g == 'A':
            g='A'
        if g == 'B' or g == 'b':
            g='B'
        if g == 'c' or g == 'C':
            g='C'
        if g == 'd' or g == 'D':
            g='D'
        if g == 'c' or g == 'C':
            g='C'

        #c.execute("INSERT INTO students VALUES('studentId', 'firstName', 'lastName')")
        c.execute("INSERT INTO enrollment (student_id,course_id,grade) values (?, ?,?)",
                (s_id,c_id,g))
    
def tabletestE():
    c.execute("SELECT* FROM enrollment")
    rows=c.fetchall()
    
    for row in rows:
        print(row)



#print(c.fetchone())
#tabletest()
#update_studentinfo()
#tabletest()

#add_newStudent()
#add_newclass()
tabletest()
print("----classes next")
tabletestClass()
print('-----instructor table')
#add_instructor()
#add_grades()
tabletestI()
print('----enrollment table')
tabletestE()

testvar='s1'
#.execute('''SELECT enrollment.student_id, enrollment.course_id, grade FROM student INNER JOIN enrollment
 #  ON student.student_id= enrollment.student_id WHERE enrollment.student_id =?''',(testvar,))
    
    
#c.execute("""SELECT* FROM student INNER JOIN enrollment
 #ON student.student_id= enrollment.student_id WHERE enrollment.student_id= s1 """)
    
c.execute("""SELECT*
FROM Student
INNER JOIN enrollment ON Student.student_id = enrollment.student_id """)
    
    
conn.commit()
#c.fetchone()


rows=c.fetchall()
#print(rows)
    
for row in rows:
     print(row)


#var= input("student id u wanna search")
#print(search_student(var))
#x=search_student(var)

('s1', 'william', 'smithson')
('s2', 'john', 'sorenson')
('s3', 'j', 'lo')
('s4', 'steve', 'bolhman')
('s5', 'jacob', 'ventura')
----classes next
('cs1000', 'c++', 3, 'chang')
('cs4000', 'data base', 3, 'yuan')
('cs3320', 'java', 3, 'keith')
('cs200', 'internet of things', 3, 'ashley')
('cs4331', 'visual basic', 3, 'yuan')
-----instructor table
('chang', 'wong')
('keith', 'miller')
('ashley', 'orbits')
('yuan', 'shen')
----enrollment table
('s1', 'cs1000', 'A')
('s1', 'c2000', 'A')
('s2', 'cs3320', 'A')
('s2', 'cs4331', 'B')
('s4', 'cs4331', 'C')
('s1', 'william', 'smithson', 's1', 'cs1000', 'A')
('s1', 'william', 'smithson', 's1', 'c2000', 'A')
('s2', 'john', 'sorenson', 's2', 'cs3320', 'A')
('s2', 'john', 'sorenson', 's2', 'cs4331', 'B')
('s4', 'steve', 'bolhman', 's4', 'cs4331', 'C')

In [ ]:
s4